<div class="ui container">
    {{#each result}}
    <div style="overflow-y: auto;" class="ui fluid card">
        <div class="content">
            <div class="header">{{this.sha256}}</div>
            <div class="meta">Analyzer: {{this.analyzer}} / Collector: {{this.collector}}</div>
            <div class="description">
                <ul>
                    <li>File Type: {{this.filetype}}</li>
                    <li>First seen: {{this.first_seen}}</li> 
                    <li>Posted Date: {{this.date}}</li> 
                    <li>Tag: {{#each this.tag_name_etc}} <div class="ui label">{{this.tag}}</div> {{/each}}</li>
                </ul>
            </div>
        </div>
        <div class="extra content">
            <i class="check icon"></i>
            121 Votes
        </div>
    </div>
    {{/each}}
    <div class="ui borderless menu">
  <a class="item">1</a>
  <a class="item">2</a>
  <a class="item">3</a>
  <a class="item">4</a>
  <a class="item">5</a>
  <a class="item">6</a>
</div>

<br><br>

</div>