<div class="ui container">
    <h1>Search: "{{query}}"</h1>
    {{#each result}}
    <div style="overflow-y: auto;" class="ui fluid card">
        <div class="content">
            <a href="/board/detail/{{this.azid}}" class="header">{{this.sha256}}</a>
            <div class="meta">Analyzer: <a href="/profile/{{this.analyzer}}">{{this.analyzer}}</a>  </a> / Collector:{{this.collector}}</div>
            <div class="description">
                <ul>
                    <li>File Type: {{this.filetype}}</li>
                    <li>First seen: {{this.first_seen}}</li>
                    <li>Posted Date: {{this.date}}</li>
                    <li>Tag: {{#each this.tag_name_etc}} <a href="/search/detail?type=tag&query={{this.tag}}" class="ui label">{{this.tag}}</a> {{/each}}</li>

                    </li>
                </ul>
            </div>
        </div>
        <div class="extra content">
            <i class="check icon"></i>
            121 Votes
        </div>
    </div>
    {{/each}}
    <div class="ui borderless menu">
        <a href="/search/detail/1?type={{type}}&query={{query}}" class="item">1</a>
        <a href="/search/detail/2?type={{type}}&query={{query}}" class="item">2</a>
        <a href="/search/detail/3?type={{type}}&query={{query}}" class="item">3</a>
        <a href="/search/detail/4?type={{type}}&query={{query}}" class="item">4</a>
        <a href="/search/detail/5?type={{type}}&query={{query}}" class="item">5</a>
        <a href="/search/detail/6?type={{type}}&query={{query}}" class="item">6</a>
        <a href="/search/detail/7?type={{type}}&query={{query}}" class="item">7</a>
        <a href="/search/detail/8?type={{type}}&query={{query}}" class="item">8</a>
        <a href="/search/detail/9?type={{type}}&query={{query}}" class="item">9</a>
        <a href="/search/detail/10?type={{type}}&query={{query}}" class="item">10</a>
        <a href="/search/detail/11?type={{type}}&query={{query}}" class="item">11</a>
        <a href="/search/detail/12?type={{type}}&query={{query}}" class="item">12</a>
        <a href="/search/detail/13?type={{type}}&query={{query}}" class="item">13</a>
        <a href="/search/detail/14?type={{type}}&query={{query}}" class="item">14</a>
        <a href="/search/detail/15?type={{type}}&query={{query}}" class="item">15</a>
        <a href="/search/detail/16?type={{type}}&query={{query}}" class="item">16</a>
        <a href="/search/detail/17?type={{type}}&query={{query}}" class="item">17</a>
        <a href="/search/detail/18?type={{type}}&query={{query}}" class="item">18</a>
        <a href="/search/detail/19?type={{type}}&query={{query}}" class="item">19</a>
        <a href="/search/detail/20?type={{type}}&query={{query}}" class="item">20</a>
        <a href="/search/detail/21?type={{type}}&query={{query}}" class="item">21</a>
    </div>

    <br><br>

</div>