<div class="ui container">
    {{#each result}}
    <div style="overflow-y: auto;" class="ui fluid card">
        <div class="content">
            <a href="/board/detail/{{this.azid}}" class="header">{{this.sha256}}</a>
            <div class="meta">Analyzer: <a href="/profile/{{this.analyzer}}">{{this.analyzer}}</a> / Collector:
                {{this.collector}}</div>
            <div class="description">
                <ul>
                    <li>File Type: {{this.filetype}}</li>
                    <li>First seen: {{this.first_seen}}</li>
                    <li>Posted Date: {{this.date}}</li>
                    <li>Tag: {{#each this.tag_name_etc}} <a href="/search/detail?type=tag&query={{this.tag}}" class="ui label">{{this.tag}}</a>
                        {{/each}}</li>
                </ul>
            </div>
        </div>
        <div class="extra content">
            <i class="check icon"></i>
            121 Votes
        </div>
    </div>
    {{/each}}
    
    <div class="ui borderless menu">

    {{#each page}}
        {{{this.page}}}
    {{/each}}

    </div>

    <br><br>

</div>
