<div class="ui container">
    {{#each result}}
    <div style="overflow-y: auto;" class="ui fluid card">
        <div class="content">
            <a href="/board/detail/{{this.azid}}" class="header">{{this.sha256}}</a>
            <div class="meta">Analyzer: <a href="/profile/{{this.analyzer}}">{{this.analyzer}}</a> / Collector:
                {{this.collector}}</div>
            <div class="description">
                <ul>
                    <li>File Type: {{this.filetype}}</li>
                    <li>First seen: {{this.first_seen}}</li>
                    <li>Posted Date: {{this.date}}</li>
                    <li>Tag: {{#each this.tag_name_etc}} <a href="/search/detail?type=tag&query={{this.tag}}" class="ui label">{{this.tag}}</a>
                        {{/each}}</li>
                </ul>
            </div>
        </div>
        <div class="extra content">
            <i class="check icon"></i>
            121 Votes
        </div>
    </div>
    {{/each}}
    
    <div class="ui borderless menu">

        <a href="/board/1" class="item">1</a>
        <a href="/board/2" class="item">2</a>
        <a href="/board/3" class="item">3</a>
        <a href="/board/4" class="item">4</a>
        <a href="/board/5" class="item">5</a>
        <a href="/board/6" class="item">6</a>
        <a href="/board/7" class="item">7</a>
        <a href="/board/8" class="item">8</a>
        <a href="/board/9" class="item">9</a>
        <a href="/board/10" class="item">10</a>
        <a href="/board/11" class="item">11</a>
        <a href="/board/12" class="item">12</a>
        <a href="/board/13" class="item">13</a>
        <a href="/board/14" class="item">14</a>
        <a href="/board/15" class="item">15</a>
        <a href="/board/16" class="item">16</a>
        <a href="/board/17" class="item">17</a>
        <a href="/board/18" class="item">18</a>
        <a href="/board/19" class="item">19</a>
        <a href="/board/20" class="item">20</a>
        <a href="/board/21" class="item">21</a>


    </div>

    <br><br>

</div>