<div style="overflow: auto; " class="ui container">
    <table class="ui teal table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Timestamp</th>
                <th>Nonce</th>
                <th>Hash</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
                <td><a href="/block/detail/{{this.index}}">{{this.index}}</a></td>
                <td>{{this.timestamp}}</td>
                <td>{{this.nonce}}</td>
                <td>{{this.hash}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<br><br>