<div class="ui container">
    <table class="ui very basic collapsing celled table">
        <thead>
            <tr>
                <th>Profile</th>
                <th>Homepage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="https://semantic-ui.com/images/avatar2/small/lena.png" class="ui mini rounded image">
                        <div class="content">
                            {{username}}
                            <div class="sub header">소속
                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                    <a href="http://naver.com">http://naver.com</a>
                </td>
            </tr>
            <tr>
        </tbody>
    </table>

    <h1>Recent Analysis</h1>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>sha256</th>
                <th>tag</th>
                <th>filetype</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
                <td data-label="sha256"><a href="/board/detail/{{this.azid}}">{{this.sha256}}</a></td>
                <td data-label="tag">{{#each this.tag_name_etc}} <div class="ui label"> {{this.tag}} </div> {{/each}}</td>
                <td data-label="filetype">{{this.filetype}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<br><br>