<div class="ui container">
    <h2>SHA256: {{result.sha256}}</h2>
    <div class="ui inverted segment">
        <div class="ui inverted relaxed divided list">
            <div class="item">
                <div class="content">
                    <div style="padding-bottom: 10px;" class="header">Analyzer</div>
                    <a class="ui teal label" href="/profile/{{result.analyzer}}">{{result.analyzer}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div style="padding-bottom: 10px;" class="header">Collector</div>
                    <a class="ui teal label">{{result.collector}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">MD5</div>
                    <a href="/search/detail?type=hash&query={{result.md5}}">{{result.md5}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">SHA1</div>
                    <a href="/search/detail?type=hash&query={{result.sha1}}">{{result.sha1}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">SHA256</div>
                    <a href="/search/detail?type=hash&query={{result.sha256}}">{{result.sha256}}</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">File Type</div>
                    {{result.filetype}}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div style="padding-bottom: 10px;" class="header">Tag</div>
                    {{#each result.tag_name_etc}}<a href="/search/detail?type=tag&query={{this.tag}}" class="ui teal label"> {{this.tag}} </a> {{/each}}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">File Size</div>
                    {{result.filesize}}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Date</div>
                    {{#date result.date}}{{/date}}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">First Seen</div>
                    {{#date result.first_seen}}{{/date}}
                </div>
            </div>
        </div>
    </div>
{{!-- "behavior":{"wxp_32_kor":{"date":"2018-11-13 13:31:34","detection":[],"security_level":3}} --}}
    <div class="ui inverted segment">
        <div class="ui inverted relaxed divided list">
            {{!-- {{#each result.behavior}} --}}
            <div class="item">
                <div class="content">
                    <div class="header">{{#stringify result.behavior}}{{/stringify}}</div>
                </div>
            </div>
            {{!-- {{/each}} --}}
        </div>
    </div>

    {{#if result.description}}
    <div class="ui inverted segment">
        <div class="ui inverted relaxed divided list">
            {{!-- {{#each result.behavior}} --}}
            <div class="item">
                <div class="content">
                    <div class="header">Description</div>
                    {{result.description}}
                </div>
            </div>
            {{!-- {{/each}} --}}
        </div>
    </div>
    {{/if}}
</div>

<br><br>